@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Pacifico&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Nunito:ital,wght@1,300&family=Pacifico&family=Playfair+Display:wght@500&display=swap');

body {
  margin: 0%;
  background-color: #fff;
  color: black;
}

.nav {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: 100px;
  text-decoration: none;


}

.deroulant {
  display: none;
}

.deroulant li {
  width: 50%;
  padding: 15px 10px;
  font-size: 15px;
  z-index: 99;
  line-height: 1;
  margin: auto;
  list-style-type: none;
  background-color: #fff;
  float: left;
  text-decoration: none;
  font-family: 'Luxurious Roman', cursive;


}

.hover:hover .deroulant {
  display: block;
  position: absolute;
  text-align: left;

}

.menu {
  color: black;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-wrap: wrap;
  float: none;
  justify-content: space-around;
  padding: 12px;
  height: 50px;
  font-size: 20px;
  margin-top: 5%;
}

ul {
  list-style: none;
}

ul a {
  display: flex;
  justify-content: left;
  flex-direction: row;
  text-align: center;
  color: black;
  font-family: 'Playfair Display', serif;

}

ul i {
  padding: 10px;
  text-align: center;
  background-size: 30px;
}

.flex {
  display: flex;
  flex-direction: column;

}

header {
  text-align: center;

}


img {
  display: flex;
  margin: auto;
}

.image1 {
  display: flex;
  align-items: center;
  margin: 0% auto;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  background-color: transparent;
  word-wrap: break-word;
  cursor: pointer;


}

.dark-bg {
  background-color: #dbdad9;
  opacity: 0.5;
  height: 68px;
}

.image1 h2 {
  display: flex;
  margin-top: 85%;
  margin-left: 45%;
  font-size: 20px;
  color: black;
  font-weight: bold;

}

.image1 p {
  display: flex;
  margin-left: 25%;
  font-size: 15px;
  margin-top: 5%;
  color: black;

}

#macarons {
  background-image: url(assets/images/macaron2.jpeg );
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  display: block;
  width: 500px;
  height: 500px;
  margin-top: 8%;


}

#cookies {
  background-image: url(assets/images/cookies1.jpeg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  display: block;
  width: 500px;
  height: 500px;
  margin-top: 8%;
  position: relative;
  box-sizing: border-box;

}

#cupcakes {
  background-image: url(assets/images/cupcake1.jpeg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  display: block;
  width: 500px;
  height: 500px;
  margin-top: 8%;
}

.image2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: 'Playfair Display', serif;

}

.image2 img {
  border-radius: 50%;
  border: solid 2px #F0F3F4;
  max-width: 150px;
  max-height: 150px;
  margin: 0px 0px 8px;
  cursor: pointer;
  margin-top: 10%;
}

.image2 h2 {
  font-size: 15px;

}

#tarteauxfraises {
  background-image: url(assets/images/tarteauxfraises1.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  display: block;
  width: 500px;
  height: 500px;
  margin-top: 8%;
}

#crêpes {
  background-image: url(assets/images/crepes3.jpeg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  display: block;
  width: 500px;
  height: 500px;
  margin-top: 8%;
}

#galettedesrois {
  background-image: url(assets/images/galettedesrois1.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  display: block;
  width: 500px;
  height: 500px;
  margin-top: 8%;
}

.image3 {
  display: flex;
  align-items: center;
  margin: 0% auto;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  background-color: transparent;
  margin: 0 auto;
  padding: 0%;
  word-wrap: break-word;
  cursor: pointer;
}

.image3 h2 {
  display: flex;
  margin-top: 85%;
  margin-left: 45%;
  font-size: 20px;
  color: black;
  font-weight: bold;

}

.image3 p {
  display: flex;
  margin-left: 50%;
  font-size: 15px;
  margin-top: 5%;
  color: black;

}

/* Page Macarons */
.Titre {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 1px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-top: 2%;
}

.div1 img {
  grid-area: 1 / 1 / 2 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 18px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 18px;
  margin-top: 10%;
  margin-left: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
}

.div4 img {
  grid-area: 2 / 2 / 3 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div5 img {
  grid-area: 3 / 1 / 4 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%;

}

.div6 {
  grid-area: 3 / 2 / 4 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 19px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
  text-align: center;


}

.div7 {
  grid-area: 4 / 1 / 5 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 17px;
  margin-top: 10%;
  margin-left: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;

}

.div8 img {
  grid-area: 4 / 2 / 5 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div9 img {
  grid-area: 5 / 1 / 6 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div10 {
  grid-area: 5 / 2 / 6 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 17px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
  text-align: center;
}

p {
  border-top: 10%;
  align-items: center;
}

/*Newsletter*/

.fond {
  background-image: url(assets/images/cuisine.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}


#container {
  background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  text-align: center;
  border-radius: 5px;
  margin: 3em auto;
  background: rgba(255, 255, 255, 0.95);
  height: 300px;
  width: 480px;
  padding: 1em;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#container h2 {
  background-image: url(assets/images/cuisine.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, #080808 0%, #f6f3ff 100%);
  font-family: 'Playfair Display', serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 2px;
  font-size: 3.5em;
  margin: 0;

}

#container p {
  font-family: 'Farsan', cursive;
  margin: 3px 0 1.5em 0;
  font-size: 1.3em;
  color: #7d7d7d;
}

#container input {
  width: 210px;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: #eee;
  padding: 1em 2em;
  outline: none;
  border: none;
  color: #222;
  transition: 0.3s linear;
}

::placeholder {
  color: #999;
}

#container input:focus {
  background: rgba(0, 0, 333, 0.10);
}

#container button {
  background-image: linear-gradient(to left, rgba(181, 250, 223, 0.712) 0%, rgba(4, 141, 88, 0.616) 100%);
  box-shadow: 0 9px 25px -5px #df91fb;
  font-family: 'Abel', sans-serif;
  padding: 0.5em 1.9em;
  margin: 2.3em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;

}

#container button:hover {
  transform: translatey(2px);
}

#container button:active {
  transform: translatey(5px);
}

/*Matériel*/

.intro {
  font-family: 'Luxurious Roman', cursive;
  font-size: 28px;
  align-items: center;
  text-align: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 1px;
}

.div11 {
  grid-area: 1 / 1 / 2 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 20px;
  margin-top: 10%;
  margin-left: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
}

.div12 img {
  grid-area: 1 / 2 / 2 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div13 img {
  grid-area: 2 / 1 / 3 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div14 {
  grid-area: 2 / 2 / 3 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;

}

.div15 {
  grid-area: 3 / 1 / 4 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-left: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;

}

.div16 img {
  grid-area: 3 / 2 / 4 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div17 img{
  grid-area: 4 / 1 / 5 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div18 {
  grid-area: 4 / 2 / 5 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;


}

.div19 {
  grid-area: 5 / 1 / 6 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-left: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;

}

.div20 img {
  grid-area: 5 / 2 / 6 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div21 img {
  grid-area: 6 / 1 / 7 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}

.div22 {
  grid-area: 6 / 2 / 7 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;

}

.div23 {
  grid-area: 7 / 1 / 8 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-left: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;

}

.div24 img{
  grid-area: 7 / 2 / 8 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}
h2 {
  font-family: 'Playfair Display', serif;
  font: bold;
  font-size: 30px;
  margin-top: 2%;

}
/* Tarte aux fraises */

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 1px;
}

.div25 img {
  grid-area: 1 / 1 / 2 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%;
}


.div26 {
  grid-area: 1 / 2 / 2 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
}

.div27 {
  grid-area: 2 / 1 / 3 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center; 
}

.div28 img {
  grid-area: 2 / 2 / 3 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%

}

.div29 img {
  grid-area: 3 / 1 / 4 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%

}

.div30 {
  grid-area: 3 / 2 / 4 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
}

.div31 {
  grid-area: 4 / 1 / 5 / 2;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
}

.div32 img {
  grid-area: 4 / 2 / 5 / 3;
  width: 300px;
  height: 300px;
  margin-top: 10%


}

.div33 img {
  grid-area: 5 / 1 / 6 / 2;
  width: 300px;
  height: 300px;
  margin-top: 10%
}

.div34 {
  grid-area: 5 / 2 / 6 / 3;
  font-family: 'Luxurious Roman', cursive;
  font-size: 22px;
  margin-top: 10%;
  margin-right: 10%;
  border: solid 1px black;
  border-radius: 10%;
  align-items: center;
}

